.heading{
    font-size: 23px;
    width: 102%;
    margin: 0;
    box-shadow: 12px 12px 12px rgb(70, 68, 68);
    border-radius: 30;
    margin-right: 34;
}

.note{
    font-size: 16;
    color: rgb(255, 255, 255);
}

body{
    text-align: center;
    background-color: rgb(175, 169, 83);
}

canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 7px 4px 12px grey;
}

.footer{
    position: fixed;
    color: rgb(237, 238, 239);
    bottom: 0;
    width: 103%;
    background-color: goldenrod;
    line-height: 3;
    text-align: center;
}